.page-loading-wrapper {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: $white;
  }
  
  .page-loading-text {
    margin-top: 30px;
    font-size: 2.5em;
    font-weight: 300;
  }
  
  .page-loading-percent {
    margin-top: 30px;
    font-size: 4em;
    font-weight: 100;
  }